@import '../styles/_colors.scss';
@import '../styles/_utils.scss';

.solutions{
	padding-top: 120px;

	@include media-max(998px){
		padding-top: 80px;
	}

	h2{
		padding: 8px 1.5%;
		display: inline-block;
		font-family: Roboto;
	  	font-size: 36px;
	  	font-weight: 900;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: 1.11;
	  	letter-spacing: 0.77px;
	  	background-color: $blue;
	  	color: $blanco;

	  	&:nth-of-type(1){
	  		margin-bottom: 4px;
	  	}

	  	&:nth-of-type(2){
	  		margin-bottom: 32px;
	  	}
	}

	p{
		font-family: Roboto;
  		font-size: 16px;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.5;
  		letter-spacing: normal;
  		color: #161616;
	}

	.input-range__slider{
		position: relative;
		&:after{
			position: absolute;
			left: calc(50% - 2px);
			top: calc(50% - 1.85px);
			border-radius: 50px;
			content: "";
			width: 5px;
			height: 5px;
			background-color: white;
		}
	}
}